
<% fpages = Page.where(:parent_id => subpage) %>
            <% fpages.each do |spages| %>
              
                <% level = Page.where(:parent_id => spages.id).count %>
		<% url = root_path + "sforms/" + spages.name %>
                <% if level == 0 %>
                  <% idname = "Child" + spages.id.to_s %>
                  <li id=<%= idname %> href=<%= url %>><a href=<%= url %>><%= spages.name %></a></li>
                  
                <% else %>
                  <% idname = "Parent" + spages.id.to_s %>
                  <li id=<%= idname %> href=<%= url %>><a href=<%= url %>><%= spages.name %></a>
                  <ul>
                  <%= render :partial => "pages/subpage", :object => spages.id %>
                  </ul>
                  </li>
                <% end %>
              
            <% end %>
