<!DOCTYPE html>
<html>
 <head>
    <title>Infotree</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

<script>
      
  $(document).ready(function(){

    $("#menu")
        .jstree({ "plugins" : ["themes","html_data","ui","cookies"],
                  "cookies" : { "save_selected": false}
          })
        .bind("select_node.jstree", function (event, data) {
            var parid = '#' + data.rslt.obj.attr("id");
            var c = data.rslt.obj.attr("id").substr(0,1);
            var loc = data.rslt.obj.attr("href");
	           
            if (c == "C")
             {
             
              window.location = loc;
            
         
        //     window.open(loc);
             }
           else
		{
                
              $('#menu').jstree("toggle_node",parid);

		}
            
	    
        })
});

    </script>

 </head>
  <body id="store" >
    <div id="banner" >
      <%= image_tag("logo.png") %>
      <%= "InfoPower International" %>
    </div>
    <div id="columns" >
      <div id="lside" >
        <div id="menu">
         <%= render "pages/page" %>
        </div>
      </div>
      <div id="main" >
        <%= yield %>
      </div>
      <div id="rside">
      </div>
    </div>
  </body>
</html>