<!DOCTYPE html>
<html>
 <head>
    <title>Infotree</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

<script>
      
  $(document).ready(function(){



$("li.h").hover(
      function () {
     
         var t = $(this).attr('id');
         if (t.substr(0,1) == "C") {
            var l = t.substr(5);
        		}
         else
           {
            var l = t.substr(6);
           }
          var x = 'li.#' + l;
         $(this).prop('title', $(x).text());
      
      }, 
      function () {
        $(this).find("span:last").remove();
      }
    );

$("#menu")
        .jstree({ "plugins" : ["themes","html_data","ui","cookies"]
   })

.bind("select_node.jstree", function (event, data) {

            
	    var loc = data.rslt.obj.attr("href");
            var nid = data.rslt.obj.attr("id");
            var checknode = $.cookie('node');
            
            
            if (nid.substr(0,1) == "C")
              { 
              
	      if (checknode != nid)

               {
		  
                  $.cookie('node',nid);
                  window.location = loc;
               }
              
              
              }
            else
             {
            $('#menu').jstree("toggle_node",data.rslt.obj);
            

	    var ptext = $('li.#' + nid.substr(6)).text();
            var rephtml = '<h1>' + ptext + '</h1>';
            $('#submain1').html(rephtml);
            $('#submain2').css("display", "none");
             
            
            $.cookie('node',nid);

		
            
	       }

		
          });
        


 

});


    </script>

 </head>
  <body id="store" >
    <div id="banner" >
      <%= image_tag("info.png") %>
      <%= "InfoPower International" %>
    </div>
    
      <div id="lside" >
        <div id="menu">
         <%= render "pages/page" %>
        </div>
      </div>
      <div id="main" >
        <div id="submain1">
        </div>
        <div id="submain2">
          <%= yield %>
        </div>
      </div>
      <div id="rside">
       <div id="submenu">
         <%= render "pages/rsubpage" %>
       </div>
      </div>
   
  </body>
</html>